langchain
langchain-openai
streamlit
dotenv
langgraph
langchain-community
langchain-tavily
langchain[google-genai]
langchain-groq
langchain-ollama
ipython
pandas #delete after if not used
ipykernel #delete after if not used